@model WebDoan.Models.DICHVU

@{
    Layout = null;
}

<div class="booking-input">
    <span>Select your service</span>
    @Html.DropDownList("TenDV", null, htmlAttributes: new { @class = "form-control" })
    @Html.ValidationMessageFor(model => model.TenDV, "", new { @class = "text-danger" })
</div>