@*<footer class="py-4 bg-light mt-auto">
        <div class="container-fluid px-4">
            <div class="d-flex align-items-center justify-content-between small">
                <div class="text-muted">Copyright &copy; Your Website 2023</div>
                <div>
                    <a href="#">Privacy Policy</a>
                    &middot;
                    <a href="#">Terms &amp; Conditions</a>
                </div>
            </div>
        </div>
    </footer>*@

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="~/Content/Footer.css" rel="stylesheet" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css" integrity="sha512-iecdLmaskl7CVkqkXNQ/ZH/XLlvWZOJyj7Yy7tcenmpD1ypASozpmT/E0iPtmFIB46ZmdtAc9eNBvH0H/ZpiBw==" crossorigin="anonymous" referrerpolicy="no-referrer" />
</head>
<body>
    <footer>
        <div class="footer-content">
            <h2>CÔNG TY CỔ PHẦN TMDV HNSHINE</h2>
            <span>82 Trần Đại Nghĩa, P. Đồng Tâm, Q. Hai Bà Trưng, HN</span><br>
            <span>Số giấy chứng nhận kinh doanh: 010.7467.693</span><br>
            <span>Ngày cấp: 08/06/2016</span><br>
            <span>Nơi cấp: Sở kế hoạch đầu tư TP Hà Nội</span><br>
            <span><strong>Chính sách bảo mật thông tin <br> Liên hệ quảng cáo 30Shine</strong></span><br>

        </div>
        <div class="footer-content">
            <h2>GIỜ PHỤC VỤ</h2>
            <span>Thứ 2 đến thứ 6: 8h00 - 21h00</span><br>
            <span>Thứ 7, chủ nhật: 7h30 - 21h00</span>

            <div class="footer-inner">
                <img src="./img/mastercard.7d32e23f.svg" alt="">
                <img src="./img/visa.689e1cc5.svg" alt="">
            </div>
        </div>
        <div class="footer-content">
            <h2>TẢI ỨNG DỤNG CỦA 30SHINE</h2>
            <span>Trải nghiệm đặt lịch nhanh chóng và nhiều tiện ích khác với ứng dụng 30Shine.</span>

            <div class="footer-inner">
                <img src="./img/AppStore.png" alt="">
                <img src="./img/GooglePlay.png" alt="">
            </div>
            <div class="footer-YT">
                <h2>THAM GIA CỘNG ĐỒNG</h2>
                <span>Cùng 2.5tr thành viên 30Shine</span>
                <div class="footer-inner">
                    <img class="imgtiktok" src="~/Content/images/tiktok.4b28e96d.svg" alt="">
                    <img class="imgtiktok" src="~/Content/images/youtube-social.6d146642.svg" alt="">
                </div>
            </div>
        </div>
    </footer>
</body>
</html>