
@{
    Layout = null;
}

<h2 style="text-align:center; padding:2rem 0;">Xác nhận đơn đặt hàng</h2>

<h3 style="text-align:center;">Chúng tôi sẽ giao đơn hàng cho bạn sớm nhất có thể</h3>
<p style="text-align:center">
    <img class="text-center" src="~/Content/images/OIP.jpg" alt="Alternate Text" />
</p>
<p style="text-align:center">
    @Html.ActionLink("Về Trang Chủ", "Index", "MainPage", "", new { @class = "btn btn-success", @style = "padding:1rem" })
</p>